.frameMenu .menu {
    overflow-x: hidden;
    overflow-y: auto;
    height: 1187px;
}
.frameMenu .menu .mCustomScrollBox {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
    outline: none;
    direction: ltr;
}
.frameMenu .menu .mCustomScrollBox .mCSB_container{
    width: auto;
    height: auto;
    overflow: visible !important;
}
.frameMenu .menu .mCustomScrollBox .mCSB_container ul{
    list-style-type: none;
    padding-inline-start: 0px;
}
.frameMenu .menu .mCustomScrollBox .mCSB_container ul li{
    border-bottom: 1px solid #2c3441;
}
.frameMenu .menu .mCustomScrollBox .mCSB_container ul li .menuBtn{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #c2c2c2;
    padding: 0 10px 0 20px;
    border-left: 0px solid #15A848;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.frameMenu .menu .mCustomScrollBox .mCSB_container ul li .menuBtn-focused{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #eaeaea;
    padding: 0 10px 0 20px;
    border-left: 0px solid #15A848;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.frameMenu .menu .mCustomScrollBox .mCSB_container ul li a i{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}